---
layout: archive
title: "Research"
permalink: /publications/
author_profile: true
---

{% include base_path %}

<!-- Section for Submitted Work -->
<h2>Submitted Work</h2>
{% for post in site.publications reversed %}
  {% if post.category == "Submitted" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}


<!-- Section for Working Papers -->
<h2>Working Paper</h2>
{% for post in site.publications reversed %}
  {% if post.category == "Ongoing" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}